train_Omni_GAN:
  args:
    shuffle: true
    batch_size: 32
    dataset: C10
    use_data_root: true
    data_root: datasets/cifar10
    num_workers: 0
    num_G_accumulations: 1
    num_D_accumulations: 1
    num_epochs: 1000
    num_D_steps: 4
    G_ch: 64
    D_ch: 64
    G_lr: 0.0002
    D_lr: 0.0002
    G_ortho: 0.0
    G_attn: '0'
    D_attn: '0'
    G_init: N02
    D_init: N02
    ema: true
    use_ema: true
    ema_start: 5000
    test_every: -1
    save_every: 2000
    num_best_copies: 1
    num_save_copies: 1
    seed: 0
    model: exp.omni_loss.BigGAN_omni_loss
    which_train_fn: exp.omni_loss.train_fns
    sv_log_interval: -1
  train_dataloader:
    dataset_kwargs:
      train: true
  val_dataloader:
    dataset_kwargs:
      train: false
    use_training_sampler: true
  test_every_images: 500000
  GAN_metric:
    name: TFFIDISScore
    tf_fid_stat: datasets/tf_fid_stat/fid_stats_tf_cifar10_train_32.npz
    tf_inception_model_dir: datasets/tf_inception_model
    num_inception_images: 50000
  Discriminator:
    weight_decay: 0.0001
  Generator:
    weight_decay: 0.001
  omni_loss:
    mode: "p_and_n"
    gamma: 1.0
    margin: 0.0
  optim_type: 'adam'


eval_trained_model:
  base: train_Omni_GAN
  eval_cfg:
    eval: true
    path: "datasets/G_ema_best_FID_cifar10.pth"

